body {
    margin: 0;
    padding-top: 60px;
}

a {
    text-decoration: none;
}

.navbar-brand {
    font-size: 1.5rem;
}

#home .img-fluid {
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

#home .btn-info {
    background-color: #17a2b8;
    border: none;
    border-radius: 20px;
}

.profile-picture {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

#skills .fs-2 {
    color: #17a2b8;
    border: 2px solid #17a2b8;
}

#projects .card {
    border: none;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#projects .img-card-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#certifications .card {
    border: none;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact a {
    color: #17a2b8 !important;
}

.contact a:hover {
    text-decoration: underline !important;
}

.github-icon {
    background-color: black;
    border: none;
}

.github-icon i {
    color: white;
}

.github-icon:hover {
    background-color: white;
}

.github-icon:hover i {
    color: black;
}

footer {
    padding: 10px 0;
    text-align: center;
}

@media (max-width: 768px) {
    #home .img-fluid {
        width: 120px;
        height: 120px;
    }

    #home .btn-info {
        padding: 0.5rem 1rem;
    }

    #skills .fs-2 {
        font-size: 2rem;
    }
}